.app {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.invisibleArea {
  display: none;
}

@media (max-width: 768px) {
  .invisibleArea {
    display: block;
    height: 59px;
  }
}

@media (max-width: 360px) {
  .invisibleArea {
    height: 55px;
  }
}
